body {
  font-family: sans-serif;
}

path {
  fill: none;
  stroke-width: 2px;
  pointer-events:none;
}

rect#clickOverlay {
  fill: #ffffff;
  fill-opacity: 1.0;
}

line#track {
  stroke-width: 10px;
  stroke: #aaa;
  border-style: solid;
  border-color: black;
  stroke-linecap: round;
}

line#overlay {
  stroke: transparent;
  cursor: crosshair;
}

circle#smoothHandle{
  r: 9;
  fill: #00aaaaaa;
}

circle#infoCircle{
  cursor: pointer;
}

g.axis {
  font-size: 12pt;
  /*font-weight: bold;*/
  stroke-width: 2px;
  pointer-events: none;
}

div#tooltip {
  position: absolute;
  width: auto;
  height: auto; 
  max-width: 400px;
  padding: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

div#tooltip a {
  text-decoration: none;
}

.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

text#pointCount {
  pointer-events: none;
}

text#titleText {
  pointer-events: none;
  font-weight: bold;
}

g#zoomOut {
  cursor: pointer;
}

rect#freqRect {
  fill: blue;
  fill-opacity: 0.7;
  cursor: pointer;
}

rect#sizeRect {
  fill: orange;
  fill-opacity: 0.7;
  cursor: pointer;
}

div#start {
  position: absolute;
  width: 400px;
  height: 260px;
  padding: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

div#loading {
  position: absolute;
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

input {
  flex-grow: 1;
  margin-right: 10px;
}

button {
  border: solid;
  border-width: 1px;
  border-color: white;
  background-color: #DDDDDD;
  padding: 7px 20px; 
  font-size: 16px;
  font-color: black;
  cursor: pointer;
  display: inline-block;
  float: right;
}

button:hover {
  border-color: black;
}

div#flexbox {
  display: flex;
}
